<div class="guidelines-container" fxLayout="row" fxLayoutAlign="start stretch">
  <!-- Left Navigation -->
  <div 
    class="left-nav" 
    [class.collapsed]="isNavCollapsed" 
    [class.hover-expanded]="isNavHovered"
    [fxFlex]="shouldShowExpandedNav ? '0 0 280px' : '0 0 60px'"
    (mouseenter)="onNavMouseEnter()"
    (mouseleave)="onNavMouseLeave()"
  >
    <div class="nav-header">
      <div class="logo-container" *ngIf="shouldShowExpandedNav">
        <div class="logo">BNTV</div>
        <div class="version">ver-2.1</div>
      </div>
      <div class="logo-collapsed" *ngIf="!shouldShowExpandedNav">
        <div class="logo">B</div>
      </div>
      <div class="header-actions">
        <i
          [class]="'ph ph-caret-' + (isNavCollapsed ? 'right' : 'left') + ' toggle-icon'"
          (click)="toggleNav()"
          title="{{ isNavCollapsed ? 'Expand' : 'Collapse' }}"
          aria-hidden="true"
        ></i>
      </div>
    </div>
    <nav class="nav-menu">
      <div
        *ngFor="let item of navItems"
        class="nav-item"
        [class.active]="item.active"
        [class.has-children]="item.children"
      >
        <div
          *ngIf="!item.hidden"
          class="nav-item-header"
          (click)="item.children ? toggleExpand(item, navItems) : navigate(item.route)"
          [title]="!shouldShowExpandedNav ? item.title : ''"
        >
          <div class="nav-item-content">
            <i
              *ngIf="item.icon"
              [class]="'ph ph-' + item.icon + ' nav-item-icon'"
              aria-hidden="true"
            ></i>
            <span class="nav-item-title" *ngIf="shouldShowExpandedNav">{{ item.title }}</span>
          </div>
          <i
            *ngIf="item.children && (item.expanded || shouldShowExpandedNav)"
            [class]="'ph expand-icon ' + (item.expanded ? 'ph-caret-down' : 'ph-caret-right')"
            aria-hidden="true"
          ></i>
        </div>
        <div *ngIf="item.children && item.expanded && !item.hidden" class="nav-children" [class.show-icons-only]="!shouldShowExpandedNav">
          <div
            *ngFor="let child of item.children"
            class="nav-item"
            [class.active]="child.active"
            [class.has-children]="child.children"
            [class.force-visible]="item.title === 'Components' && item.expanded"
          >
            <div
              *ngIf="!child.hidden"
              class="nav-item-header child-header"
              (click)="child.children ? toggleExpand(child, item.children) : navigate(child.route)"
              [title]="!shouldShowExpandedNav ? child.title : ''"
            >
              <div class="nav-item-content">
                <i
                  *ngIf="child.icon"
                  [class]="'ph ph-' + child.icon + ' nav-item-icon'"
                  aria-hidden="true"
                ></i>
                <span class="nav-item-title" *ngIf="shouldShowExpandedNav">{{ child.title }}</span>
              </div>
              <!-- Show icon when collapsed and expanded -->
              <i
                *ngIf="child.children && child.expanded && !shouldShowExpandedNav"
                [class]="'ph expand-icon ' + (child.expanded ? 'ph-caret-down' : 'ph-caret-right')"
                aria-hidden="true"
              ></i>
              <i
                *ngIf="child.children && (child.expanded || shouldShowExpandedNav)"
                [class]="'ph expand-icon ' + (child.expanded ? 'ph-caret-down' : 'ph-caret-right')"
                aria-hidden="true"
              ></i>
            </div>
            <div *ngIf="child.children && child.expanded && !child.hidden" class="nav-children nav-children-level-2" [class.show-icons-only]="!shouldShowExpandedNav">
              <div
                *ngFor="let grandChild of child.children"
                class="nav-item"
                [class.active]="grandChild.active"
              >
                <div
                  *ngIf="!grandChild.hidden"
                  class="nav-item-header grandchild-header"
                  (click)="navigate(grandChild.route)"
                  [title]="!shouldShowExpandedNav ? grandChild.title : ''"
                >
                  <i
                    *ngIf="grandChild.icon && !shouldShowExpandedNav"
                    [class]="'ph ph-' + grandChild.icon + ' nav-item-icon'"
                    aria-hidden="true"
                  ></i>
                  <span class="nav-item-title" *ngIf="shouldShowExpandedNav">{{ grandChild.title }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Content Area -->
  <div class="content-area" fxFlex="1 1 auto">
    <router-outlet></router-outlet>
  </div>
</div>
