@use '../shared-styles' as *;

.card-documentation-container {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.card-demo {
  margin-bottom: 0;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 300px;
  flex: 0 0 calc(50% - 16px);
}
