@use '../shared-styles' as *;

.list-documentation-container {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.list-demo {
  margin-bottom: 0;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 300px;
  flex: 0 0 100%;
}
