@use '../_shared-styles' as *;

.component-documentation-container {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.detail-content {
  padding: 20px;
  
  h3 {
    margin-top: 0;
    color: var(--grayColor900);
  }
  
  p {
    margin: 8px 0;
    color: var(--grayColor700);
  }
}
