@use '../shared-styles' as *;

.overlay-loader-demo {
  margin-bottom: 0;
}

.overlay-loader-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 100%;
  flex: 0 0 100%;
}
