@use '../_shared-styles' as *;

.radio-button-demo {
  margin-bottom: 0;
}

.radio-button-demo {
  margin-bottom: 0;
  flex-wrap: wrap;
}

.radio-button-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 280px;
  flex: 0 1 auto;
  margin-bottom: 16px;
}

.subsection-title {
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}
