@use '../shared-styles' as *;

.menu-documentation-container {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.menu-demo {
  margin-bottom: 0;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 200px;
  flex: 0 0 auto;
}
