@use '../_shared-styles' as *;

.component-demo {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.component-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 100%;
  flex: 0 0 100%;
}
