@use '../shared-styles' as *;

.tab-documentation-container {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.tab-demo {
  margin-bottom: 0;
}

.tab-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 100%;
  flex: 0 0 100%;
}
